.img:hover{

    opacity: 50%;
    
  }

.links{

background-color: #293241;

} 

.links:hover{

opacity: 60%;


}

.profile-pic{

  size: 5%;
  box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.about-me-header{
  display : flex;
  flex-direction : column;
  align-items : center;
  justify-content : center;
  background-color: #7180B9;
  color: #E0FBFC;


	box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;

}

.temperature-badge{

	padding-bottom: 5px;
}

.card-body-all{

  color: #E0FBFC;


}

.navbar{
	height: 100px;
	/* color: #E0FBFC; */
}

#navbarSupportedContent {
	align-items: center;
	
}

/* .submitBtn{

align-items: center;

} */

.info{

background-color: #7180B9;

}

.info:hover{

  opacity: 50%;

}

.textLink:hover{

  /* background-color: #7180B9; */
  background-color: black;
 

}

ul {
  list-style-type: none;
}

  
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .avatar {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	img { width: 100%; height: auto; }
} */


/* .sepia img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.sepia:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
} */

