/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

} */
main{

height: 140vh;

}
.contact-page{

background-color: #7180B9;

}
.portfolio-page{

background-color: #7180B9;
height: max-content;

}


.form-control{

background-color: #E0FBFC;
color: #171738;
font-family:  'Alumni Sans Collegiate One', sans-serif;


}

.contact-submit-btn{

  background-color: #E0FBFC;
	color: #293241;
  font-family:  'Alumni Sans Collegiate One', sans-serif;
  font-weight: 500;


}
.contact-submit-btn:hover{

opacity: 35%;
color: #E0FBFC;


}

/* .profilePic{




} */


