/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

} */
main{

height: 140vh;

}
.contact-page{

background-color: #7180B9;

}

.form-control{

background-color: #DFF3E4;
color: black;

}

.submitBtn{

  background-color: #DFF3E4;


}


