/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

} */
main{

height: 100vh;

}
.contact-page{

background-color: #7180B9;

}

.form-control{

color: bisque;

}

